.img-icon {
    height: 25px;
    border-color: #0078ff;
    border-width: 1px;
    padding: 0 5px;
}

.a-icon {
    display: inline-block;
}

.fixed-width-button {
    width: 150px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
}

#createUserModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.custom-modal-content {
    background-color: #f4f4f4;
    padding: 20px;
    width: 60%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    left: 20%;
}

.custom-form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-group-right {
    display: flex;
    gap: 10px;
}

.toast-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
}

.custom-modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-body pre {
    white-space: pre-wrap;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    max-width: 190px;
    border-radius: 10px;
}

.user-info {
    margin-left: 20px;
    flex-grow: 1;
}

.quest-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5px;
}

.quest-image {
    max-width: 150px;
    height: 150px;
    object-fit: cover;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quest-name {
    font-weight: bold;
    color: #006400;
}

.btn-group-right .btn {
    width: 150px;
}

.quest-description {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 70px;
}