<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
  <title th:text="#{create-quest.title}">Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/appStyles.css}">
</head>
<body>
<div th:replace="~{parts/header :: header}"></div>
<div class="container">
  <form action="create-quest" method="post">
    <div class="mb-3">
      <label for="questName" class="form-label" th:text="#{create-quest.quest.name.label}">Quest name</label>
      <input name="questName" type="text" class="form-control" id="questName"
             th:placeholder="#{create-quest.quest.name.placeholder}">
    </div>

    <div class="mb-3">
      <label for="questDescription" class="form-label" th:text="#{create-quest.quest.description.label}">Quest description</label>
      <input name="questDescription" type="text" class="form-control" id="questDescription"
             th:placeholder="#{create-quest.quest.description.placeholder}">
    </div>

    <div th:replace="~{parts/quest-text-area :: quest-text-area}"></div>

    <input type="hidden" name="id" th:value="${session.user.id}">

    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="create" class="btn btn-success" th:text="#{create-quest.quest.create.button}">Create quest</button>
      </div>
    </div>
  </form>
</div>
<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>
