<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{header.title.index}">Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/appStyles.css}">
</head>
<body>
<div th:replace="~{parts/header :: header}"></div>

<div class="container">
    <!-- Error Message -->
    <!--suppress ThymeleafVariablesResolveInspection -->
    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

    <div class="container">
        <div th:utext="${@contentService.getText('index_page', 'description', #locale)}"></div>
    </div>

</div>
<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>
