<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{quest.title}">Quest in Progress</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/appStyles.css}">
</head>
<body>
<div th:replace="~{parts/header :: header}"></div>

<div class="container">

    <div th:if="${question == null}">
        <form class="form-horizontal"
              th:action="@{'quest?id=' + ${id} + '&questionId=' + ${startQuestionId}}"
              method="post">
            <fieldset>
                <input type="hidden" name="questName" th:value="${questName}">
                <p th:text="${questName}"></p>
                <img th:src="@{'images/' + ${questImage}}" alt="images" width="400px">
                <p th:text="${questDescription}"></p>
                <button id="start" name="start" class="btn btn-success">
                    <span th:text="#{quest.button.start}">Start</span>
                </button>
            </fieldset>
        </form>
    </div>

    <div th:if="${question != null && question.id > 0}">

        <p th:text="${questName}"></p>
        <img th:src="@{'images/' + ${question.image}}" alt="images" width="400px">
        <p th:text="${question.text}"></p>
        <form class="form-horizontal" action="quest" method="post">
            <fieldset>
                <input type="hidden" name="id" th:value="${id}">
                <input type="hidden" name="questName" th:value="${questName}">
                <input type="hidden" name="gameState" th:value="${question.gameState}">

                <div th:each="answer : ${question.answers}" class="form-group" th:if="${question.answers != null}">
                    <div class="col-md-4">
                        <div class="radio">
                            <label>
                                <input type="radio" name="questionId" th:id="${'radios-' + answer.nextQuestionId}"
                                       th:value="${answer.nextQuestionId}" checked="checked">
                                <span th:text="${answer.text}"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">
                            <span th:if="${question.gameState.name() == 'PLAY'}"
                                  th:text="#{quest.button.next}">Next</span>
                            <span th:unless="${question.gameState.name() == 'PLAY'}"
                                  th:text="#{quest.button.toQuestList}">To Quest List</span>
                        </button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>
<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>