<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{users.title}">Users Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/appStyles.css}">
</head>
<body>

<div th:replace="~{parts/header :: header}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-center" th:text="#{users.title}">Users</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" th:each="user : ${users}">
            <div class="card h-100 shadow-sm">
                <img th:src="@{/images/{image}(image=${user.image})}" th:alt="${user.login}"
                     class="card-img-top img-fluid rounded-circle mx-auto mt-3"
                     style="width: 100px; height: 100px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title" th:text="${user.login}">User Login</h5>
                    <p class="card-text">ID: <span th:text="${user.id}"></span></p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <a th:href="@{/user(id=${user.id}, source='/users')}" class="btn btn-primary fixed-width-button" th:text="#{users.edit.button}">
                        Edit
                    </a>
                    <form th:action="@{/user(id=${user.id})}" method="post">
                        <input type="hidden" name="delete" value="delete"/>
                        <button type="submit" class="btn btn-danger fixed-width-button"
                                th:text="#{users.delete.button}"
                                th:attr="data-confirm-message=#{user.confirm.delete}">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('button[data-confirm-message]');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                const confirmMessage = button.getAttribute('data-confirm-message');
                if (!confirm(confirmMessage)) {
                    event.preventDefault();
                }
            });
        });
    });
</script>

</body>
</html>