<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header class="bg-light d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        th:fragment="header">
    <a th:href="@{/}" class="d-flex align-items-left col-md-1 mb-2 mb-md-0 text-dark text-decoration-none">
        <img th:src="@{/images/icon/home.png}" width="48" alt="Home page">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" th:href="@{/}" class="nav-link px-2 link-secondary"
               th:text="#{header.home.link}">Home</a></li>
        <!-- user -->
        <li><a href="#" th:href="@{/quests-list}" class="nav-link px-2 link-dark"
               th:text="#{header.play.link}">Play</a></li>
        <!-- admin -->
        <li th:if="${session.user != null and (session.user.role.name() == 'ADMIN' || session.user.role.name() == 'MODERATOR')}">
            <a href="#" th:href="@{/users}" class="nav-link px-2" th:text="#{header.users.link}">Users</a>
        </li>

        <li><a href="#" th:href="@{/create-quest}" class="nav-link px-2" th:text="#{header.create.quest.link}">Create Quest</a></li>
    </ul>

    <span>
    <a href="javascript:void(0);" onclick="changeLanguage('en');" class="a-icon">
        <img th:src="@{/images/icon/en-icon.png}" alt="EN flag" class="img-icon">
    </a>
    <a href="javascript:void(0);" onclick="changeLanguage('de');" class="a-icon">
        <img th:src="@{/images/icon/de-icon.png}" alt="DE flag" class="img-icon">
    </a>
    <a href="javascript:void(0);" onclick="changeLanguage('ua');" class="a-icon">
        <img th:src="@{/images/icon/ua-icon.png}" alt="UA flag" class="img-icon">
    </a>
    <a href="javascript:void(0);" onclick="changeLanguage('ru');" class="a-icon">
        <img th:src="@{/images/icon/ru-icon.png}" alt="RU flag" class="img-icon">
    </a>
</span>

    <ul class="nav col-md-3 text-end">
        <li th:if="${session.user != null}"><a href="#" th:href="@{/profile}"
                                               class="nav-link px-2 link-dark"
                                               th:text="#{header.profile.link}">Profile</a></li>

        <li th:if="${session.user != null}"><a href="#" th:href="@{/logout}"
                                               class="nav-link px-2 link-dark"
                                               th:text="#{header.logout.link}">Logout</a>
        </li>
        <li th:unless="${session.user != null}"><a href="#" th:href="@{/login}"
                                                   class="nav-link px-2 link-dark"
                                                   th:text="#{header.login.link}">Login</a>
        </li>
        <li th:unless="${session.user != null}"><a href="#" th:href="@{/signup}"
                                                   class="nav-link px-2 link-dark"
                                                   th:text="#{header.sign-up.link}">Sign-up</a>
        </li>
    </ul>

    <script>
        function changeLanguage(lang) {
            var url = new URL(window.location.href);
            url.searchParams.set('lang', lang);
            window.location.href = url.toString();
        }
    </script>

</header>
</body>
</html>
